body {
  margin: 0px;
}

.section {
  padding-top: 50px;
  padding-bottom: 15px;
  text-align: center;
}

.slideshow-section {
  padding-top: 50px;
}

.section-title {
  font-size: 40px;
  font-weight: 900;
  text-shadow: 0em 0.1em 0.6em rgba(0, 0, 0, 0.24) !important;
}

.section-1 {
  padding: 10px 10px 100px 10px;
  background-position: top center;
  background-image: linear-gradient(
      180deg,
      #ffffff 0%,
      rgba(255, 255, 255, 0.39) 39%
    ),
    url(bkrd.jpg) !important;
}

.round-image {
  border-radius: 50%;
}

.float-right {
  position: absolute;
  right: 20px;
  width: 450px;
  text-align: right;
}

p,
q {
  font-size: 18px;
}

.button-link {
  background-color: #f2e9ac;
  box-shadow: 0px 12px 18px -6px rgba(60, 57, 230, 0.15);
  border-radius: 25px;
  line-height: 25px;
  font-weight: 700;
  font-size: 15px;
  padding: 12px 30px;
  border: none;
  text-decoration: none;
  color: black;
}

/* Slideshow container */
.slideshow-container {
  position: relative;
  background: #f1f1f1f1;
}

/* Slides */
.mySlides,
.mySlides2 {
  display: none;
  padding: 80px;
  text-align: center;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -30px;
  padding: 16px;
  color: #888;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  position: absolute;
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
}

/* The dot/bullet/indicator container */
.dot-container {
  text-align: center;
  padding: 20px;
  background: #f1f1f1f1;
}

/* The dots/bullets/indicators */
.dot,
.dot2 {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

/* Add a background color to the active dot/circle */
.active,
.dot:hover,
.dot2:hover {
  background-color: #717171;
}

/* Add an italic font style to all quotes */
q {
  font-style: italic;
}

.column {
  float: left;
  width: 20%;
}

.column > p {
  margin-left: 10px;
  margin-right: 10px;
}

/* Clear floats after the columns */
.row::after {
  content: "";
  display: table;
  clear: both;
}

@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }

  .float-right {
    width: 300px;
  }
}

.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}
.fa:hover {
  opacity: 0.7;
}
.fa-facebook {
  background: #3b5998;
  color: white;
}
.fa-instagram {
  background: #125688;
  color: white;
}
.social-container {
  display: table;
  margin: 0 auto;
  padding-top: 50px;
}

.right-padding {
  padding-right: 30px;
}

.mortgage-section {
  padding-top: 50px;
  padding-bottom: 15px;
  text-align: center;
  background: #f1f1f1f1;
}

.mortgage div {
  margin-top: 20px;
}

.mortgage div p {
  font-size: 10px;
  margin: 2px;
  /* padding-top: 5px; */
}

.remax {
  padding-bottom: 30px;
  /* float: right; */
}
